# Compiled directories
dist

# System files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
todo.txt

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages
mix-manifest.json

# Optional npm cache directory
.npm

# Misc
hot
mix-manifest.json

# Optional REPL history
.node_repl_history

# Large / disallowed file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi